@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.Extensions.Configuration
@using CampaignManager.Models

@inject IConfiguration Configuration

<EditForm Model="@Location" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="CampaignId">Campaign Id: </label>
        <InputText class="form-control" @bind-Value="@Location.CampaignId" disabled></InputText>
    </div>
    <div class="form-group">
        <label for="Id">Id: </label>
        <InputText class="form-control" @bind-Value="@Location.Id" disabled></InputText>
    </div>
    <div class="form-group">
        <label for="@Location.Name">Name: </label>
        <InputText class="form-control" @bind-Value="@Location.Name"></InputText>
    </div>
    <div class="form-group">
        <label for="@Location.Description">Description: </label>
        <InputTextArea class="form-control" @bind-Value="@Location.Description"></InputTextArea>
    </div>
    <div class="form-group">
        <label for="@Location.Coordinates">Coordinates: </label>
        <div class="form-group ml-5">
            <label for="@Location.Coordinates.Latitude">Latitude: </label>
            <InputNumber class="form-control" @bind-Value="@Location.Coordinates.Latitude"></InputNumber>
        </div>
        <div class="form-group ml-5">
            <label for="@Location.Coordinates.Longitude">Longitude: </label>
            <InputNumber class="form-control" @bind-Value="@Location.Coordinates.Longitude"></InputNumber>
        </div>
    </div>
    <div class="form-group">
        <label for="@Location.Country">Country: </label>
        <InputSelect class="form-control" @bind-Value="Location.Country">
            @foreach (var country in Enum.GetValues(typeof(Country)))
            {
                <option value="@country">@country.ToString()</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="@Location.Coalition">Coalition: </label>
        <InputSelect class="form-control" @bind-Value="Location.Coalition">
            @foreach (var coalition in Enum.GetValues(typeof(Coalition)))
            {
                <option value="@coalition">@coalition.ToString()</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="@Location.Status">Status: </label>
        <InputSelect class="form-control" @bind-Value="Location.Status">
            @foreach (var status in Enum.GetValues(typeof(Status)))
            {
                <option value="@status">@status.ToString()</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="@Location.Services">Services: </label>
        @foreach (Service service in Enum.GetValues(typeof(Service)))
        {
            bool Checked = false;
            if (Location.Services.Contains(service))
            {
                Checked = true;
            }
            <div class="form-group ml-5">
                <input type="checkbox" class="form-check-input" checked="@Checked" @onchange="eventArgs => { ServiceCheckboxClicked(service, eventArgs.Value); }" />
                <label class="form-check-label">@service.ToString()</label>
            </div>
        }
    </div>
    <div class="form-group">
        <label for="@Location.Items">Items: </label>
        <div class="form-group">
            <button class="btn btn-success" type="button" @onclick="() => Location.Items.Add(new Item())"><span class="fas fa-plus mr-2"></span>Add</button>
        </div>
        <div class="form-group">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Use Template</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Subcategory</th>
                        <th scope="col">Country</th>
                        <th scope="col">Coalition</th>
                        <th scope="col">Status</th>
                        <th scope="col">Count</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Location.Items.Count; i++)
                    {
                        int index = i;
                        <tr>
                            <th scope="row">@(index + 1)</th>
                            <td>
                                <InputCheckbox class="form-check-input" ValueExpression="@(() => Location.Items[index].UsesTemplate)" Value="@Location.Items[index].UsesTemplate" ValueChanged="@((bool value) => OnUseTemplateUpdate(value, Location.Items[index]))" />
                            </td>
                            <td>
                                @if (Location.Items[index].UsesTemplate)
                                {
                                    <InputSelect class="form-control" ValueExpression="@(() => Location.Items[index].Name)" Value="@Location.Items[index].Name" ValueChanged="@((string value) => OnNameUpdate(value, Location.Items[index]))">
                                        <option value="">Choose item...</option>
                                        @foreach (var name in Objects.Select(p => p.Name))
                                        {
                                            <option value="@name">@name</option>
                                        }
                                    </InputSelect>
                                }
                                else
                                {
                                    <InputText class="form-control" @bind-Value="@Location.Items[index].Name"></InputText>
                                }
                            </td>
                            <td>
                                <InputSelect class="form-control" ValueExpression="@(() => Location.Items[index].Category)" Value="@Location.Items[index].Category" ValueChanged="@((Category value) => OnCategoryUpdate(value, Location.Items[index]))" disabled="@Location.Items[index].UsesTemplate">
                                    @foreach (var category in Enum.GetValues(typeof(Category)))
                                    {
                                        <option value="@category">@category.ToString()</option>
                                    }
                                </InputSelect>
                            </td>
                            <td>
                                <InputSelect class="form-control" @bind-Value="Location.Items[index].Subcategory" disabled="@Location.Items[index].UsesTemplate">
                                    @foreach (var subcategory in Enum.GetValues(typeof(Subcategory)))
                                        {
                                        <option value="@subcategory">@subcategory.ToString()</option>
                                        }
                                </InputSelect>
                            </td>
                            <td>
                                <InputSelect class="form-control" @bind-Value="Location.Items[index].Country" disabled="@(Location.Items[index].Category == Category.Armament)">
                                    @foreach (var country in Enum.GetValues(typeof(Country)))
                                        {
                                        <option value="@country">@country.ToString()</option>
                                        }
                                </InputSelect>
                            </td>
                            <td>
                                <InputSelect class="form-control" @bind-Value="Location.Items[index].Coalition" disabled="@(Location.Items[index].Category == Category.Armament)">
                                    @foreach (var coalition in Enum.GetValues(typeof(Coalition)))
                                        {
                                        <option value="@coalition">@coalition.ToString()</option>
                                        }
                                </InputSelect>
                            </td>
                            <td>
                                <InputSelect class="form-control" @bind-Value="Location.Items[index].Status" disabled="@(Location.Items[index].Category == Category.Armament)">
                                    @foreach (var status in Enum.GetValues(typeof(Status)))
                                        {
                                        <option value="@status">@status.ToString()</option>
                                        }
                                </InputSelect>
                            </td>
                            <td>
                                <InputNumber class="form-control" @bind-Value="Location.Items[index].Count" />
                            </td>
                            <td>
                                <button class="btn btn-danger" type="button" @onclick="() => Location.Items.Remove(Location.Items[index])">
                                    <span class="fas fa-trash"></span>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <button class="btn btn-success" type="submit"><span class="fas fa-save mr-2"></span>Save</button>
</EditForm>


@code
{
    [Parameter]
    public Location Location { get; set; }
    [Parameter]
    public List<Models.Object> Objects { get; set; }
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    private void ServiceCheckboxClicked(Service service, object aChecked)
    {
        if ((bool)aChecked)
        {
            if (!Location.Services.Contains(service))
            {
                Location.Services.Add(service);
            }
        }
        else
        {
            if (Location.Services.Contains(service))
            {
                Location.Services.Remove(service);
            }
        }
        StateHasChanged();
    }

    private void OnNameUpdate(string value, Item item)
    {
        item.Name = value;

        var _object = Objects.FirstOrDefault(o => o.Name == item.Name);
        item.Category = _object.Category;
        item.Subcategory = _object.Subcategory;
    }

    private void OnCategoryUpdate(Category value, Item item)
    {
        item.Category = value;
        if (Category.Armament == value)
        {
            item.Status = Status.Operational;
            item.Coalition = Coalition.NotApplicable;
            item.Country = Country.NotApplicable;
        }
    }

    private void OnUseTemplateUpdate(bool value, Item item)
    {
        item.UsesTemplate = value;
        item.Name = string.Empty;
        item.Category = default;
        item.Coalition = default;
        item.Country = default;
        item.Subcategory = default;
        item.Status = default;
        item.Count = default;
    }
}