@using Microsoft.AspNetCore.Components.Forms
@using CampaignManager.Models


<EditForm Model="@Object" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="CampaignId">Campaign Id: </label>
        <InputText class="form-control" @bind-Value="@Object.CampaignId" disabled></InputText>
    </div>
    <div class="form-group">
        <label for="Id">Id: </label>
        <InputText class="form-control" @bind-Value="@Object.Id" disabled></InputText>
    </div>
    <div class="form-group">
        <label for="@Object.Name">Name: </label>
        <InputText class="form-control" @bind-Value="@Object.Name"></InputText>
    </div>
    <div class="form-group">
        <label for="@Object.Category">Category: </label>
        <InputSelect class="form-control" @bind-Value="Object.Category">
            @foreach (var category in Enum.GetValues(typeof(Category)))
            {
                <option value="@category">@category.ToString()</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="@Object.Subcategory">Subcategory: </label>
        <InputSelect class="form-control" @bind-Value="Object.Subcategory">
            @foreach (var subcategory in Enum.GetValues(typeof(Subcategory)))
            {
                <option value="@subcategory">@subcategory.ToString()</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="@Object.Cost">Cost: </label>
        <InputNumber class="form-control" @bind-Value="Object.Cost" />
    </div>
    <button class="btn btn-success" type="submit"><span class="fas fa-save mr-2"></span>Save</button>
</EditForm>


@code
{
    [Parameter]
    public Models.Object Object { get; set; }
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}
